@font-face{
    font-family: matrix;
    src: url('matrix.ttf') format('truetype');
    
}
@font-face{
    font-family:roboto;
    src:url(fonts/Roboto-VariableFont_wdth\,wght.ttf) format('truetype');
}


body{
    background-color:black;
    margin:0; 
}




h1{
    
    color:#00FF00;
    text-align: center;
    margin:20px;
    font-family:matrix,roboto;
    font-size:72px;
    

    
    
}
p{
    color:#00FF00;
    text-align: center;
    margin:0;
    font-family: matrix,roboto;
    
    
    
}
#container{
    height: 100vh;
    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#inner-text{
    width: 80ch;
}

